.inputoption {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  color: gray;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}
.inputoption:hover {
  color: black;
  background: whitesmoke;
}

.inputoption > h4 {
  margin-left: 5px;
}
